html {
    margin: 0px;
    height: 100%;
    width: 100%;
}



body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    
}

.container {
    margin: 0px;
    height: 1020px;
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    height: 400px;
    width: 300px;
    background-color: lightblue;
    border-radius: 5px;
    position: relative;

}

.digit-container {
    height: 350px;
    width: 75%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
}

.digit-line-one {
    margin-top: 15px;
}

.digits {
    margin-bottom: 5px;
    margin-left: 4px;
    width : 30%;
    height: 75px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
}

