html {
    margin: 0px;
    height: 100%;
    width: 100%;
}



body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    
}

.container {
    margin: 0px;
    height: 1020px;
    width: 100%;
    background: linear-gradient(180deg, brown, bisque);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    height: 400px;
    width: 300px;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 5px;
    position: relative;

}

.input-box {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-right: 5px;
    margin-left: 5px;
}

#input-display {
    height: 35px;
    border: 4px solid gray;
    border-radius: 5px;
}

#clear {
    width: 90px;
    background-color: cornflowerblue;
    border-radius: 5px;
    font-family: Arial;
    font-size: 20px;
}


.digit-container {
    height: 350px;
    width: 75%;
    position: absolute;
    bottom: 0;
}

.digit-line-one {
    margin-top: 15px;
}

#digits {
    margin-bottom: 5px;
    margin-left: 4px;
    width : 30%;
    height: 75px;
    font-size: 24px;
    border-radius: 5px;
}

.operator-container {
    height: 350px;
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;


}

#op-but, #equal-sign {
    width: 91%;
    height: 75px;
    background-color: lightgreen;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    font-size: 24px;
}

#op-but:nth-child(1) {
    margin-top: 15px;
}